= turbo_stream.prepend "messages" do
  = render "conversations/message", message: @message
= turbo_stream.update "message_form", partial: "conversations/form", locals: { message: @conversation.messages.new }